{% extends 'base.html.twig' %}

{% block body %}
    <img src="{{ asset('/img/banner.jpg') }}" style="width: 100vw">
    {% for category in categories %}
    <div>{{ category.name }}</div>

    {% endfor %}
{% endblock %}
