{% extends 'base.html.twig' %}
{% block body %}
    {% for pizza in pizzas %}
        {{ pizza.name }}
        <button class="button" onclick="window.location.href='{{path('app_detail',{id:pizza.id})}}'">Bewerken</button>
    {% endfor %}
{% endblock %}
