{% extends 'base.html.twig' %}
{% block body %}
	<h2>Bestellingen:</h2>
	{% for order in orders %}

		<ul><li>Naam:
			{{ order.fname }}<br>
			Status:
			{{order.status}}<br>
			Pizza:
			{{order.pizza.name}}<br>
			Size:
			{{order.size.name}}</li></ul>
	{% endfor %}
{% endblock %}
